body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
  
  .container {
    max-width: 500px;
    margin: 0 auto;
    text-align: left;
    background-color: #eec008;
    padding: 20px;
    border: solid 5px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    margin-top: 0;
  }
  
  .form-group {
    margin: 10px;
    text-align: left ;
  }
  
  label {
    display: inline-block;
    width: 120px;
    font-weight: bold;
  }
  
  input[type="number"],
  input[type="text"] {
    padding: 5px;
    border-radius: 5px;
    border: 3px solid black;
    width: 80%;
  }
   input[type="number"],
  input[type="text"] {
    padding: 5px;
    border-radius: 5px;
    border: 3px solid black;
  }
  
  button {
    padding: 10px;
    background-color: #0a2351;
    color: #eec008;
    border: solid 2px black;
    border-radius: 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #075687;
  }
  
  #results {
    margin-top: 20px;
    font-size: 24px;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    border: 3px dashed black;
  }
  